@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@200;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: Inter, system-ui, sans-serif;
  } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins, system-ui, sans-serif;
  }
}

.bg-home {
  background-image: url('./assets/img/ta-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.bg-glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.39) -213.5%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17),
    inset 0px 2px 0px rgba(255, 255, 255, 0.24);
  border-radius: 8px;
}
