@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: Inter, system-ui, sans-serif;
  } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins, system-ui, sans-serif;
  }
}

.bg-home {
  background-image: url('./assets/img/ta-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.bg-glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.39) -213.5%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17),
    inset 0px 2px 0px rgba(255, 255, 255, 0.24);
  border-radius: 8px;
}

.bg-lightblack {
  background-color: rgba(0, 0, 0, 0.3);
}

.img-coins {
  position: absolute;
  bottom: 0;
  height: 160px;
  left: 50%;
  transform: translate(-50%);
}

.img-coin-left {
  position: absolute;
  height: 220px;
  left: 25%;
  transform: translateY(150px);
  opacity: 0;
  bottom: 17%;
}

.img-coin-right {
  position: absolute;
  height: 180px;
  left: 68%;
  transform: translateY(150px);
  opacity: 0;
  bottom: 10%;
}

.img-stars {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  object-fit: cover;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.lightshow {
  position: absolute;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translate(-50%);
}

.img-lightshow {
  object-fit: cover;
}

.img-blinking {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateY(100px); */
  opacity: 0.5;
  /* z-index: -2; */
}

@media screen and (min-width: 768px) {
  /* desktops */
  .img-stars {
    width: unset;
    height: unset;
    overflow: unset;
  }
  .lightshow {
    width: 910px;
    height: 630px;
  }

  .img-lightshow {
    width: 1170px;
    height: 1330px;
  }
}

@media screen and (max-width: 768px) {
  /* for mobile */
  .lightshow {
    width: 100%;
    height: 358px;
  }

  .img-lightshow {
    width: 1170px;
    height: 718px;
  }
  .img-coin-left {
    height: 80px;
    left: -8%;
  }
  .img-coin-right {
    right: 0;
    height: 50px;
    left: unset;
  }
  .img-coins {
    height: unset;
  }
}
